
<div id="left_container_about">
	<div id="top_left_container_about">
	</div>
	
	<div id="bottom_left_container_about">
	</div>
</div>

<div id="right_container_about">
	<div id="top_right_box_about">
	</div>

	<div id="middle_right_divider_about">
	</div>

	<div id="bottom_right_box_about">
	</div>
</div>
