<div id="left_container_contact">
	<div id="top_left_container">
		<div id="top_left_container_text">
			<h1 id="h1_contact">Van Nguyen</h1>
			<h1 id="h1_contact">Travis Brault</h1>
				</br>
			<h3 id="h3_contact">195 Binney Street</h3>
			<h3 id="h3_contact">Cambridge, MA</h3>
			<h3 id="h3_contact">02142</h3>
		</div>
	</div>
	
	<div id="bottom_left_container">
		<div id="bottom_left_container_text">
			<h2 id="h2_contact">Phone: (978) 602-7171</h1>
				</br>
			<h2 id="h2_contact">Email: brault.travis@gmail.com</h1>
		</div>
	</div>
</div>

<div id="right_container_contact">
	<div id="right_box_contact">
		<div style="width:627px;height:370px"><iframe width="627" height="370" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=195%2Bbinney%2Bstreet%2C%2Bcambridge%2C%2Bma%2B02142&ie=UTF8&z=14&t=m&iwloc=near&output=embed"></iframe><br><table width="627" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"></table></div>
	</div>	
</div>