
<div id="left_container">
	<p>On Demand Web Development</p>
</div>

<div id="right_container">
	<div id="top_right_box">
	</div>

	<div id="middle_right_divider">
	</div>

	<div id="bottom_right_box">
	</div>
</div>
