
<div id="left_container_home">
	<p>On Demand Web Development</p>
</div>

<div id="right_container_home">
	<div id="top_right_box_home">
		<div class="banner">
			<ul>
				<li><%= image_tag "rubyonrails_image.png" %></li>
				<li><%= image_tag "html5_image.png" %></li>
				<li><%= image_tag "css3_image.png" %></li>
				<li><%= image_tag "jquery_image.png" %></li>
			</ul>
		</div>
	</div>

	<div id="middle_right_divider_home">
	</div>

	<div id="bottom_right_box_home">
	</div>
</div>
