/* Contact */

#left_container_contact {
	margin-top:50px;
	margin-bottom:50px;
	margin-left:50px;
	float:left;
	border-right:solid 5px black;
	width:350px;
	height:450px;
}

#middle_left_divider_contact {
	margin-top:220px;
	margin-right:50px;
	border:solid 3px black;
}

/* Right Side */

#right_container_contact {
	margin-top:50px;
	margin-bottom:50px;
	float:left;
	width:700px;
	height:450px;
	margin-left:50px;
}

#right_box_contact {
	margin-top:34px;
	border:solid 5px black;
	height:370px;
}
