/* Home Page */

/* First Layer */

#left_container {
	margin-top:50px;
	float:left;
	border-right:solid 5px black;
	width:300px;
	height:600px;
	
}

#right_container {
	margin-top:50px;
	float:left;
	width:860px;
	height:600px;
	margin-left:50px;
}

/* Right Side */

#top_right_box {
	border:solid 5px black;
	height:225px;
}

#middle_right_divider {
	margin-top:50px;
	border:solid 5px black;
}

#bottom_right_box {
	margin-top:50px;
	border:solid 5px black;
	height:225px;
}