/* Home Page */

/* First Layer */

#left_container {
	margin-top:50px;
	margin-bottom:50px;
	margin-left:50px;
	float:left;
	border-right:solid 5px black;
	width:350px;
	height:450px;
}

#right_container {
	margin-top:50px;
	margin-bottom:50px;
	float:left;
	width:700px;
	height:450px;
	margin-left:50px;
}

/* Right Side */

#top_right_box {
	border:solid 5px black;
	height:160px;
}

#middle_right_divider {
	margin-top:50px;
	border:solid 3px black;
}

#bottom_right_box {
	margin-top:50px;
	border:solid 5px black;
	height:160px;
}