<footer class="footer">

	<div class="left_footer">
		<h1>ARCO, Inc. Web Development</h1>
	</div>

	<div class="right_footer">
		<h1>195 Binney Street, Cambridge, MA</h1>
	</div>

</footer>

<div class="footer_margin"></div>