<div class="footer_div">
	<footer class="footer">
		<div class="left_footer">
			<p>ARCO, Inc. Web Development</p>
		</div>
		<div class="right_footer">
			<p>195 Binney Street, Cambridge, MA</p>
		</div>
	</footer>
</div>