<div class="header_margin">
</div>
<div class="header_div">
	<header class="header">
		<div class="left_header">
			<h1 class="logo">ARCO, Inc.</h1>
		</div>
		
		<div class="right_header">
			<ul class="top_nav_bar">
				<li class="links"><%= link_to "Home", root_path %></li>
				<li class="links"><%= link_to "About", "#" %></li>
				<li class="links"><%= link_to "Contact", "#" %></li>
				<li class="links"><%= link_to "Portfolio", "#" %></li>
			</ul>
		</div>
	</header>
</div>
